<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login/backbtn_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,26},{64,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,24}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>login/box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>login/buttonbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{233,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,74}}</string>
                <key>sourceSize</key>
                <string>{233,74}</string>
            </dict>
            <key>login/buttonbg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{233,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,74}}</string>
                <key>sourceSize</key>
                <string>{233,74}</string>
            </dict>
            <key>login/buttonbg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{233,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,74}}</string>
                <key>sourceSize</key>
                <string>{233,74}</string>
            </dict>
            <key>login/changearrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,26},{48,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,84}</string>
            </dict>
            <key>login/changename.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,260},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>login/close1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,240},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>login/close1_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,196},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>login/floating_layerbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,124},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>login/green_soul_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,182},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>login/loading_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,132},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>login/login_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,129},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>login/login_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,92},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>login/logotxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{377,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,22}}</string>
                <key>sourceSize</key>
                <string>{377,22}</string>
            </dict>
            <key>login/mining_picksbar_bg_7e6203.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{119,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,6}}</string>
                <key>sourceSize</key>
                <string>{119,6}</string>
            </dict>
            <key>login/page_arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,114},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>login/paper_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,76},{256,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,74}}</string>
                <key>sourceSize</key>
                <string>{256,74}</string>
            </dict>
            <key>login/red_soul_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,124},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>login/top_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{265,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,54}}</string>
                <key>sourceSize</key>
                <string>{265,54}</string>
            </dict>
            <key>login/weaponbox_infobg2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{254,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,30}}</string>
                <key>sourceSize</key>
                <string>{254,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c97f44de7b62793820c26681ce85fca:1/1$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
